* {
	margin: 0;
	padding: 0;
	
}
body {
	font-family:Arial, '微软雅黑', sans-serif;
	
	-webkit-font-smoothing: antialiased;
	
background:url(../images/bj.jpg) repeat fixed!important;
background:rgba(255,255,255,0.75);

	
	
}
.box { background:#fff; background:rgba(255,255,255,0.75);
padding:20px;
	width: 1000px;
	margin: 0 auto;
}
.nav { 
	margin-top: 10px;
}
.nav li { background:#333;
	margin-right: 12px;
	list-style: none;
	width: 130px;
	
	float: left;
	height: 44px;
	line-height: 44px;
	text-align: center;
	font-size: 18px;
}
.nav li a {
	text-decoration: none;
	color: #fff;
}
.nav li a:hover {
	color:#F00;
}
.main {
	width: 1000px;
	overflow: hidden;
	padding-top: 30px;
}
.main_left {
	width: 400px;
	float: left;
}
.main_right {
	width: 570px;
	float: right;
	line-height: 30px;
}
.main strong{ color:#f00;}
.tu {
	width: 1000px;
	overflow: hidden;
}
.tu dt {
	font-size: 26px;
	color: #f00;
	line-height: 80px;
}
.tu dd {
	float: left;
	margin-right: 8px;
}
.tu img {
	width: 242px;
}
.foot {
	clear: both;
	height: 60px;
	text-align: center;
	 background:#333;
	color: #fff;
	line-height: 60px;
	margin-top: 20px;
}
.neirong {
	width: 1000px;
	padding-top: 30px;
	line-height: 30px;
}
.neirong td {
	border: 1px solid #333;
	padding: 5px;
}
.neirong h1 {
	font-size: 26px;
	text-align: center;
	color: #f00;
	line-height: 60px;
	font-weight: normal;
}
.neirong h3 {
	font-size: 20px;
	color: #f00;
	line-height: 60px;
	font-weight: normal;
}
.tt td {
	border: 0;
}
.main h1 {
	font-size: 26px;
	text-align: center;
	color: #f00;
	line-height: 60px;
	font-weight: normal;
}
.nr1{ border:1px solid #ddd;}
.nr1 p{margin:20px; line-height:30px; }
.nr1 td img{padding:6px;}
.nr1 h5{ font-size:16px; color:#f00; font-weight:normal; text-align:center;}